.fuse*
*.swp
*.aux
*.toc
*.bbl
*.idx
*.ilg
*.ind
*.log
*.toc
*.blg
*.out
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc*
*.gz
*.backup
*.lot
*.lof
*.fls
foo.bar
qrcFoo.*
qrcTeX.*
qrcLaTeX.*
qrcTig.*
Session.vim
